@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Nunito:wght@400;600;700&family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    color: black;
}

.container{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização da seção menu */

#inicio{
    display: flex;
    justify-content: center;
    background-color: #16303B;
    margin: auto;
}

.menu-bar{
    display: flex;
    justify-content:space-between;
    height: 4.75rem;
    padding: 0.5rem 1rem;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
}

.menu-bar img{
    height: 60px;
    width: 60px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 1rem;
    padding: 0.2rem;
    transition: 0.2s;
}

nav ul li:hover{
    border-bottom: 2px solid #99469B;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}

/* Estlização do banner */

#banner{
    height: calc(100vh - 4.75rem);
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(14, 13, 13, 0.2)), url(../img/2.jpg);
    background-size: cover;
    background-position:center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informations{
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    /* background-color: red; */
}

.informations h1{
    font-size: 2.5rem;
    color: #fff;
}

#dev-software{
    margin-bottom: 3rem;
}

.informations h2{
    font-size: 1rem;
    margin-bottom: 3rem;
    color: #fff;
}

.informations button{
    padding: 0.5rem 1rem;
    background-color: #7B2D8C;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
}


/* Estilização da seção sobre */

#sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: #000000;
    background-color: hsla(0, 0%, 77%, 0.17);
}

.secao-sobre{
    justify-content: space-between;
    padding: 8rem 0.5rem;
    font-family: 'Nunito', sans-serif;
}

#sobre-titulos{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sobre-titulos h2{
    font-size: 2.5rem;
    color: #7B2D8C;
    margin-bottom: 2rem;
}

#sobre-titulos h3{
    text-align: center;
    color: #000000;
}

#sobre-paragrafo{
    flex: 2;
    color: #000000;
}

#sobre-paragrafo p{
    flex: 2;
    color: #000000;
    text-align: center;
}

#barra{
    border: 0.5px solid #7B2D8C;
    width: 60%;
    margin-bottom: 3rem;
}

/* Estilização da seção contato */

#contato{
    background-color: hsla(0, 0%, 77%, 0.17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.contato{
    padding: 3rem 2rem;
    flex-direction: column;
}

#contato h2{
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.form-informacoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 6;
}

form > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    padding: 0.5rem 0;
}

label{
    font-size: 0.9rem;
}   

form input{
    width: 100%;
    border: 2px solid #A8A3A3;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    outline: none;
}

.email-fone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form button{
    width: 80%;
    background: #551A7D;
    border: 2px solid #A8A3A3;
    border-radius: 5px;
    color: white;
    padding: 0.1rem;
}

.email-fone div{
    flex: 1;
}

#label-input-fone{
    padding-left: 0.5rem;
}

#mensagem{
    height: 6rem;
}

#contato aside{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.1rem;

}

aside > h3{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

aside div{
    font-size: 0.9rem;
}

aside img{
    height: 15px;
    width: 15px;
}

/* Estlização da seção footer */

footer{
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.footer{
    padding: 0.5rem 0.5rem;
    position: relative;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.redes ul li{
    list-style: none;
    margin: 0.2rem;
}

.redes img{
    height: 30px;
    width: 30px;
}

.redes h4{
    font-size: 1rem;
    color: black;
}

.redes p{
    font-size: 0.8rem;
    color: black;
}

.seta-cima{
    position: absolute;
    z-index: 20;
    right: 0.5rem;
}
.seta-cima img{
    height: 60px;
    width: 60px;
}



